body{
    background-color:rgb(233, 245, 126);
}

h2{
    font-family: "Fredoka", sans-serif;
    text-align:center;
}

ul{
    padding:10px;
    background: rgba(0,0,0,0.5);
}

li{
    display:inline;
    padding: 0px 10px 0px 10px;
}

header{
    text-align:center;
    background:url("images/luckyCats.jpg");
    background-size:cover;
    padding: 20px 0px 0px 0px;
    border-color:white;
}

#specialCat{
    text-align:center;
    background:rgb(3, 49, 100);
    background-size:cover;
    padding: 20px 0px 0px 0px;
    border-color:white;
}

h1{
    font-family: "Fredoka", sans-serif;
    font-size:50px;
    
    color:rgb(255, 69, 52);
    border: 7px solid rgb(233, 245, 126);
    background:rgb(233, 245, 126);
}


#header-pic{
    margin: 40px 0px 0px 0px;
    border: 7px solid #ffffff;
    border-radius: 20px;
}



article {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
}

.text{
    color:white;
}

#nyanCat{
    color:white;
    border: 7px none rgb(233, 245, 126);
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
}
    
  
